@font-face {
    font-family: 'Whatdo';
      src: url('Whatdo.ttf'); /* custom font file */
  }

h1 {
    color:darkblue;
    font-family: Whatdo;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

li {
    font-family:Arial, Helvetica, sans-serif
}

a {
    text-decoration-line: none;
    color: darkgreen;
}

body {
    background-color: blanchedalmond;
}